{% extends "base.html" %}

{% block announce %}
    <pre>
    Latest Updates:
        2026:
            Mar 8th: PS2BBL (BOOT.ELF) with graphics. Supports both PS2 and PSX
            Mar 2nd: OPL 1.2.0 Beta 2257 and 2223
                     OSDMenu 1.2.0
            Jan 28th: PS2BBL included in exploit downloads supports hotkey display, argV support. Reference mc?:/SYS-CONF/PS2BBL.INI
        2025:
            Oct 30th: OPL 1.2.0 Beta 2218, Nov 3rd OPL 1.2.0 Beta 2249, Nov 11th NTPS2, Nov 13th OSDMenu 1.0.0, NHDDL 1.2.0, Nov 15th DKWDRV 1.7.6h
    </pre>
    
{% endblock %}