{% extends "base.html" %}

{% block announce %}
    <pre>
    Latest Updates:
        
        Apr 23rd: R3Configurator 1.0.4 Minor fixes, searches correct location for PS2BBLE CONFIG.INI and wraparound fix in Which File? page.
        Apr 16th: NHDDL 1.2.2, Neutrino 1.8.0 r35, R3Configurator 1.0.2
        Mar 27th: PS2BBL Extended (BOOT.ELF) minor fix and supports custom logos. Download BOOT PSU from UMCS page. Commented out NAME_ was not ignored.
        Mar 2nd: OPL 1.2.0 Beta 2257 and 2223, OSDMenu 1.2.0
        Jan 28th: PS2BBL included in exploit downloads supports hotkey display, argV support. Reference mc?:/SYS-CONF/PS2BBL.INI
    
    </pre>
    
{% endblock %}