{% extends "base.html" %}

{% block announce %}
    <pre>
    Latest Updates:

        Mar 26: R3Configurator (editor for FMCB, FHDB, OSDMenu, PS2BBL) better ui with animations
        Mar 24th: PS2BBL Extended in exploits now supports custom logo and returning to menu if no path found, PS1Vmode Negator and eGSM added.
        Mar 2nd: OPL 1.2.0 Beta 2257 and 2223, OSDMenu 1.2.0
        Jan 28th: PS2BBL included in exploit downloads supports hotkey display, argV support. Reference mc?:/SYS-CONF/PS2BBL.INI
    
    </pre>
    
{% endblock %}